#mainmenu {
	PADDING-RIGHT: 0px; BORDER-TOP: white 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: gray 1px solid; POSITION: relative; BACKGROUND-COLOR: #3c78b5
}
#mainmenu UL {
	MARGIN: 0px auto 0px 0px; LIST-STYLE-TYPE: none
}
#mainmenu UL LI {
	DISPLAY: inline
}
#mainmenu UL LI A {
	PADDING-RIGHT: 1em; PADDING-LEFT: 0.1em; PADDING-BOTTOM: 0.1em; COLOR: white; PADDING-TOP: 0.1em; TEXT-DECORATION: none
}
#mainmenu UL LI A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #036
}
#mainmenu A:active {
	BACKGROUND: #036; COLOR: #fff
}
#mainmenu LI#active A {
	BORDER-RIGHT: #036 1px solid; BORDER-TOP: #036 1px solid; BACKGROUND: #036; BORDER-LEFT: #036 1px solid; COLOR: #fff; BORDER-BOTTOM: #036 1px solid
}
#toolbar {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; WIDTH: 150px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #26a
}
#toolbar LI {
	BORDER-RIGHT: #26a 1px solid; BORDER-TOP: #26a 1px solid; BORDER-LEFT: #26a 1px solid; BORDER-BOTTOM: #26a 1px solid; LIST-STYLE-TYPE: none
}
#toolbar A {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; BORDER-LEFT: #159 1em solid; COLOR: #eee; PADDING-TOP: 4px; BORDER-BOTTOM: #159 1px solid; TEXT-DECORATION: none
}
#toolbar A:hover {
	BORDER-LEFT-COLOR: #124; BORDER-BOTTOM-COLOR: #124; BORDER-TOP-COLOR: #124; BORDER-RIGHT-COLOR: #124
}
#subtoolbar LI A {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; MARGIN-LEFT: -20px; BORDER-LEFT: #26a 0.8em solid; PADDING-TOP: 3px; BORDER-RIGHT-WIDTH: 0px
}
.closed {
	DISPLAY: none
}
.open {
	DISPLAY: block
}
DIV#leftcolumn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 151px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px
}
DIV#content {
	MIN-HEIGHT: 530px; MARGIN: 0px 0px 5px 160px; POSITION: relative; TOP: 3px; HEIGHT: 530px
}
DIV#footer {
	CLEAR: both
}
DIV#wrap {
	MARGIN: 0px auto; POSITION: relative; min-width: 770px; max-width: 2000px
}
DIV.content-wrap {
	BACKGROUND: url(images/content_wrap_bg.gif) repeat-y -30px 0px; WIDTH: 100%; POSITION: relative
}
DIV.full-width {
	WIDTH: 100%; POSITION: relative
}
DIV#head {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	HEIGHT: 20px;
}
DIV#banner {
	background-image: url(../images/banner.jpg);
	line-height: 20px;
	background-position: top;
}

DIV#header-right {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; RIGHT: 10px; LEFT: auto; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; POSITION: absolute; TOP: 2px
}
FORM#quicksearch {
	FONT-SIZE: 12px; RIGHT: 0px; LEFT: auto; FONT-FAMILY: Arial,Sans-Serif; POSITION: absolute; TOP: 0px
}
#quickSearchInput {
	FONT-SIZE: 10px
}
DIV.tab {
	WIDTH: 100%; PADDING-TOP: 5px; BORDER-BOTTOM: #697210 1px solid
}
UL.tabmenu {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
UL.tabmenu LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 105px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
UL.tabmenu A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 2px; WIDTH: 100%; PADDING-TOP: 0px; FONT-FAMILY: georgia, "times new roman", serif; TEXT-DECORATION: none
}
UL.tabmenu A:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 2px; WIDTH: 100%; PADDING-TOP: 0px; FONT-FAMILY: georgia, "times new roman", serif; TEXT-DECORATION: none
}
UL.tabmenu A {
	BORDER-RIGHT: #697210 1px solid; BORDER-TOP: #697210 1px solid; BORDER-LEFT: #697210 1px solid; COLOR: #FFFFFF BORDER-BOTTOM: #697210 0px solid
}
UL.tabmenu .selected1 {
	BORDER-RIGHT: #697210 1px solid; BORDER-TOP: #697210 1px solid; BACKGROUND: #697210; BORDER-LEFT: #697210 1px solid; COLOR: white; BORDER-BOTTOM: #697210 0px solid; FONT-STYLE: normal
}
UL.tabmenu .selected{
	BORDER-RIGHT: #FFFFFF 1px solid; BORDER-TOP: #FFFFFF 1px solid; 
	BORDER-LEFT: #FFFFFF 1px solid;
	BORDER-BOTTOM: #FFFFFF 1px solid; FONT-STYLE: normal;
    background:url("../images/bgimage.gif") repeat; width:100%;height:100%;
    COLOR: white; 
	
}
DIV.tabunselected {
	DISPLAY: none
}
DIV.unactive {
	DISPLAY: none
}
TD.label {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #f0f0f0
}
TD.value {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffffff
}
TD.fieldLabelArea {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px; BACKGROUND-COLOR: #fffff0; TEXT-ALIGN: right
}
TD.fieldValueArea {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
TABLE.easytable {
	BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: buttonshadow 1px solid; BACKGROUND: window; BORDER-LEFT: buttonshadow 1px solid; BORDER-BOTTOM: buttonshadow 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.easytable TD {
	BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-COLOR: gray; BORDER-BOTTOM-COLOR: gray; PADDING-BOTTOM: 2px; FONT: icon; CURSOR: default; BORDER-TOP-COLOR: gray; PADDING-TOP: 2px; moz-user-select: none
}
TABLE.easytable TH {
	BORDER-RIGHT: gray 1px solid; BORDER-LEFT-COLOR: gray; BACKGROUND: #eee; BORDER-BOTTOM-COLOR: gray; BORDER-TOP-COLOR: gray
}

A.hbutton {
	DISPLAY: block; WIDTH: 140px
}
A.hbutton:link {
	DISPLAY: block; WIDTH: 140px
}
A.hbutton:visited {
	DISPLAY: block; WIDTH: 140px
}
A.button {
	WIDTH: 150px
}
A.button:link {
	WIDTH: 150px
}
A.button:visited {
	WIDTH: 150px
}
A.button {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; MARGIN-TOP: 2px; FONT-SIZE: 12px; BACKGROUND: #dca; OVERFLOW: hidden; BORDER-LEFT: #000 1px solid; COLOR: #000; LINE-HEIGHT: 25px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: verdana, arial, sans-serif; HEIGHT: 25px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.button:link {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; MARGIN-TOP: 2px; FONT-SIZE: 12px; BACKGROUND: #dca; OVERFLOW: hidden; BORDER-LEFT: #000 1px solid; COLOR: #000; LINE-HEIGHT: 25px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: verdana, arial, sans-serif; HEIGHT: 25px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.button:visited {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; MARGIN-TOP: 2px; FONT-SIZE: 12px; BACKGROUND: #dca; OVERFLOW: hidden; BORDER-LEFT: #000 1px solid; COLOR: #000; LINE-HEIGHT: 25px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: verdana, arial, sans-serif; HEIGHT: 25px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.hbutton {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; MARGIN-TOP: 2px; FONT-SIZE: 12px; BACKGROUND: #dca; OVERFLOW: hidden; BORDER-LEFT: #000 1px solid; COLOR: #000; LINE-HEIGHT: 25px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: verdana, arial, sans-serif; HEIGHT: 25px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.hbutton:link {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; MARGIN-TOP: 2px; FONT-SIZE: 12px; BACKGROUND: #dca; OVERFLOW: hidden; BORDER-LEFT: #000 1px solid; COLOR: #000; LINE-HEIGHT: 25px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: verdana, arial, sans-serif; HEIGHT: 25px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.hbutton:visited {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; MARGIN-TOP: 2px; FONT-SIZE: 12px; BACKGROUND: #dca; OVERFLOW: hidden; BORDER-LEFT: #000 1px solid; COLOR: #000; LINE-HEIGHT: 25px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: verdana, arial, sans-serif; HEIGHT: 25px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.button:hover {
	BACKGROUND: #764; COLOR: #fff
}
A.hbutton:hover {
	BACKGROUND: #764; COLOR: #fff
}
A.button:active {
	BACKGROUND: #c00; COLOR: #fff
}
A.hbutton:active {
	BACKGROUND: #c00; COLOR: #fff
}
.nowrap {
	WHITE-SPACE: nowrap
}
TABLE.list {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; MARGIN-TOP: 5px; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 100%; BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.list TD {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-BOTTOM: #d3d3d3 1px solid
}
TABLE.list TR.header {
	BACKGROUND-COLOR: #f0f0f0
}
TABLE.list TR.header TD.operation {
	WIDTH: 1%
}
TABLE.list TD.operation {
	WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
IMG.operation {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#xsnazzy {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 1em; WIDTH: 450px
}
.xtop {
	DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.xbottom {
	DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.xb1 {
	DISPLAY: block; OVERFLOW: hidden
}
.xb2 {
	DISPLAY: block; OVERFLOW: hidden
}
.xb3 {
	DISPLAY: block; OVERFLOW: hidden
}
.xb4 {
	DISPLAY: block; OVERFLOW: hidden
}
.xb1 {
	HEIGHT: 1px
}
.xb2 {
	HEIGHT: 1px
}
.xb3 {
	HEIGHT: 1px
}
.xb2 {
	BORDER-RIGHT: #dee 1px solid; BACKGROUND: #dee; BORDER-LEFT: #dee 1px solid
}
.xb3 {
	BORDER-RIGHT: #dee 1px solid; BACKGROUND: #dee; BORDER-LEFT: #dee 1px solid
}
.xb4 {
	BORDER-RIGHT: #dee 1px solid; BACKGROUND: #dee; BORDER-LEFT: #dee 1px solid
}
.xb1 {
	BACKGROUND: #dee; MARGIN: 0px 5px
}
.xb2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 3px; BORDER-RIGHT-WIDTH: 2px
}
.xb3 {
	MARGIN: 0px 2px
}
.xb4 {
	MARGIN: 0px 1px; HEIGHT: 2px
}
.xboxcontent {
	BORDER-RIGHT: #dee 1px solid; BORDER-TOP: #dee 0px solid; DISPLAY: block; BACKGROUND: #dee; BORDER-LEFT: #dee 1px solid; BORDER-BOTTOM: #dee 0px solid
}
FORM.styleform {
	BORDER-RIGHT: #fafafa 0px solid; PADDING-RIGHT: 20px; BORDER-TOP: #fafafa 0px solid; PADDING-LEFT: 20px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; BORDER-LEFT: #fafafa 0px solid; LINE-HEIGHT: 1.5em; PADDING-TOP: 20px; BORDER-BOTTOM: #fafafa 0px solid; FONT-FAMILY: Arial, Sans-Serif, sans-serif
}
FORM.styleform LABEL {
	DISPLAY: block; FLOAT: left; MARGIN-BOTTOM: 10px; HEIGHT: 22px
}
FORM.styleform INPUT {
	DISPLAY: block; FLOAT: left; MARGIN-BOTTOM: 10px; HEIGHT: 22px
}
FORM.styleform INPUT {
	WIDTH: 170px; HEIGHT: 1.2em
}
FORM.styleform BR {
	CLEAR: left
}
FORM.styleform P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2em; PADDING-TOP: 1em
}
FORM.styleform LABEL {
	PADDING-RIGHT: 5px; FONT-WEIGHT: bold; WIDTH: 7em; TEXT-ALIGN: right
}
FORM.styleform INPUT {
	BORDER-RIGHT: #cfcfcf 1px solid; BORDER-TOP: #cfcfcf 1px solid; BACKGROUND: url(redpix/input_bg.gif) #fff no-repeat left top; BORDER-LEFT: #cfcfcf 1px solid; BORDER-BOTTOM: #cfcfcf 1px solid
}
FORM.styleform INPUT:hover {
	BORDER-RIGHT: #cfcfcf 1px solid; BORDER-TOP: #cfcfcf 1px solid; BACKGROUND: url(redpix/input_bg.gif) #fff no-repeat left top; BORDER-LEFT: #cfcfcf 1px solid; BORDER-BOTTOM: #cfcfcf 1px solid
}
FORM.styleform INPUT.button {
	PADDING-RIGHT: 2px; DISPLAY: inline; PADDING-LEFT: 2px; BACKGROUND: url(redpix/button_bg.gif) no-repeat left bottom; PADDING-BOTTOM: 2px; MARGIN: -6px 35px 0px 48px; WIDTH: 130px; CURSOR: pointer; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 24px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
FORM.styleform INPUT.button:hover {
	COLOR: #e1417e
}
DIV.hidden {
	DISPLAY: none
}
DIV.authorindex-content {
	WIDTH: 95%; positon: relative; align: center
}
DIV#authorindex-left {
	BORDER-RIGHT: gray 1px groove; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 3%; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 80%; PADDING-TOP: 0px; POSITION: absolute; TOP: auto
}
DIV#authorindex-right {
	FONT-SIZE: 12px; MIN-HEIGHT: 530px; LEFT: 0px; MARGIN: 0px 0px 5px 85%; POSITION: absolute; TOP: auto; HEIGHT: 530px
}
DIV#leftcolumnc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 205px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px
}
DIV.content-wrapc {
	WIDTH: 95%; POSITION: relative; align: center
}
.openc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
DIV#contentc {
	MIN-HEIGHT: 530px; MARGIN: 0px 0px 5px 215px; POSITION: relative; TOP: 3px; HEIGHT: 530px
}
.tableinput {
	BORDER-RIGHT: gray 0px solid; BORDER-TOP: gray 0px solid; BORDER-LEFT: gray 0px solid; WIDTH: 100%; BORDER-BOTTOM: gray 1px solid; HEIGHT: 100%; valign: bottom
}
.astyle {
	COLOR: gray; TEXT-DECORATION: none
}
.table-borderbr {
	BORDER-RIGHT: #567280 1px solid; BORDER-BOTTOM: #567280 1px solid
}
.table-borderb {
	BORDER-BOTTOM: #567280 1px solid
}
.smallInput {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 8pt; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: "Verdana"; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px; valign: bottom; font-color: #333333
}
